/* General CSS styling */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: $body-bg-color url('../img/back.png') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  color: $text-color;
  font: #{$font-size}/#{($baseline * 2)} Helvetica, sans-serif;
}

.container {
  margin: ($baseline * 4) auto;
  max-width: $content-max-width;
  width: $content-width;
}

.inner-container {
  background-color: #fff;
  border-radius: 4px;
  display: block;
  padding: 40px;
}

@media screen and (max-width: 600px) {
  .container {
    width: $content-width-small;
  }
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

// Typography

.center {
  text-align: center;
}

h1,
h2 {
  display: block;
}

h1 {
  color: $accent-color-light;
  font-size: $h1-size;
  font-weight: normal;
  line-height: $baseline * 3;
  margin: ($baseline * 4) 0 ($baseline);
  padding: 0;
}

h1:first-child {
  margin-top: $baseline;
}

h1.title {
  color: $text-color;
  display: inline-block;
  font-size: 40px;
  font-weight: bold;
  margin: $baseline 0 0 0;
  text-transform: uppercase;
}

h2 {
  color: $accent-color-dark;
  font-size: $h2-size;
  font-weight: bold;
  line-height: $baseline * 3;
  margin: 0 0 ($baseline * 2) 0;
  padding: 0;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: $h1-size - 8px;
    font-weight: normal;
    margin: ($baseline * 3) 0 ($baseline);
  }
}

.description {
  color: $accent-color-dark;
  display: block;
  margin: -($baseline * 2) 0 ($baseline * 2) 0;
  text-align: center;
}

p {
  margin: 0;
  padding: 0;
  text-align: justify;
}

p + p {
  margin-top: $baseline;
}

ul {
  list-style-type: none;
  margin: ($baseline * 2) 0;
  padding: 0;
  padding-left: 20px;
}

ul li {
  position: relative;
}

ul li:before {
  color: $accent-color-light;
  content: '\2022';
  left: -20px;
  position: absolute;
}

li + li {
  margin-top: $baseline;
}

a {
  border-bottom: 1px solid $subtle-color;
  color: $text-color;
  font-weight: bold;
  outline: none;
  text-decoration: none;
  transition: all .1s linear;

  &:hover {
    border-color: $accent-color-light;
    color: $accent-color-light;
  }
}

strong {
  color: $accent-color-light;
}

strong.big {
  font-size: $h1-size;
  font-weight: normal;
  vertical-align: middle;
}

// Logos

.logo {
  margin-left: 40px;
}

.logos {
  display: block;
}

.logos.footer {
  margin-top: $baseline * 4;
}

.header .logos {
  float: right;

  img {
    height: 60px;
    width: auto;
  }
}

.logos img {
  display: inline-block;
  vertical-align: middle;
}

.logos img + img {
  margin-left: 20px;
}

.logos .right {
  float: right;
}

@media screen and (max-width: 600px) {
  .logos img {
    height: 50px;
    width: auto;
  }

  .logos.footer {
    text-align: center;
  }

  .logos.footer img {
    height: 30px;
    margin-bottom: 20px;
    width: auto;
  }

  .logos .right {
    float: none;
  }
}

// Header

.header {
  display: inline-block;
  margin-bottom: $baseline * 3;
  width: 100%;
}

// Intro

.intro {
  font-size: $font-size + 2px;
  font-weight: bold;
}

// Buttons

.buttons {
  display: block;
  margin-top: $baseline * 3;
}

.btn {
  background-color: $btn-color;
  border: none;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  margin-bottom: 10px;
  padding: ($baseline/2) $baseline;

  &:hover {
    background-color: darken($btn-color, 5%);
    color: #fff;
  }
}

.btn.twitter {
  background: #55acee url('../img/icons/twitter.png') no-repeat $baseline center;
  padding-left: ($baseline * 2) + 12px;

  &:hover {
    background-color: darken(#55acee, 10%);
  }
}

.btn.facebook {
  background: #3b5998 url('../img/icons/facebook.png') no-repeat $baseline center;
  padding-left: ($baseline * 2) + 12px;

  &:hover {
    background-color: darken(#3b5998, 10%);
  }
}

.buttons .btn:not(:last-child) {
  margin-right: 5px;
}

// Grid

.grid-row {
  margin: 0 -1.5% ($baseline * 2) -1.5%;
}

.grid-row + .grid-row {
  margin-top: $baseline * 2;
}

.grid-row:before,
.grid-row:after {
    content: '';
    display: table;
}

.grid-row:after {
    clear: both;
}

.grid-row {
    *zoom: 1;
}

.col-1-2 {
  float: left;
  margin: 0 1.5%;
  width: 47%;
}

@media screen and (max-width: 600px) {
  .col-1-2 {
    width: 97%;
  }

  .col-1-2 + .col-1-2 {
    margin-top: $baseline * 3;
  }
}

.col-full {
  float: none;
  margin: 0 3%;
  width: 97%;
}

// Compare results

.options {
  display: inline-block;
  line-height: 1;
  margin-left: 10px;
  position: relative;
}

.options select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: $accent-color-dark url('../img/icons/arrow.png') no-repeat 92% center;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: $font-size;
  font-weight: bold;
  line-height: $baseline * 2;
  outline: none;
  padding: ($baseline/2) (($baseline * 2) + 3px) ($baseline/2) $baseline;
}

@media screen and (max-width: 850px) {
  .options {
    float: none;
    margin-left: 0;
  }
}

// Legend

.legend.center {
  text-align: center;
}

.legend-item {
  display: inline-block;
  padding-left: 22px;
  position: relative;
}

.legend-item:not(:last-child) {
  margin-right: 30px;
}

.legend-item-symbol {
  box-shadow: inset 0 0 0 1000px;
  color: $subtle-color;
  height: $baseline;
  left: 0;
  top: $baseline / 2;
  position: absolute;
  transform: rotate(45deg);
  width: $baseline;
}

// Graph

.graph-title {
  margin: ($baseline * 2) 0 0 0;
  text-align: center;
}

.info {
  display: inline-block;
  position: relative;
  top: -2px;
  vertical-align: middle;
}

.info-icon {
  background: url('../img/icons/info.png') no-repeat center center;
  cursor: pointer;
  display: inline-block;
  height: 16px;
  margin-left: 5px;
  opacity: .3;
  position: relative;
  transition: opacity .1s linear;
  vertical-align: middle;
  top: -2px;
  width: 16px;
}

.info-icon:hover,
.info-icon--active {
  opacity: .7;
}

.info-content {
  background-color: $btn-color;
  border-radius: 3px;
  color: #fff;
  display: none;
  font: normal #{$font-size - 2}/#{($baseline * 2) - 2} Helvetica, sans-serif;
  left: -190px;
  padding: 20px;
  position: absolute;
  text-align: center;
  text-transform: none;
  top: 45px;
  width: 300px;
  z-index: 100000;
}

.info-content::before {
  background-color: $btn-color;
  content: '';
  height: 15px;
  left: 195px;
  position: absolute;
  transform: rotate(45deg);
  top: -7px;
  width: 15px;
}

.graph-image {
  height: 400px;
  width: 100%;
}

// Tabs

.tabs {
  border-bottom: 1px solid $accent-color-light;
  margin: 0 -40px ($baseline * 3) -40px;
  padding: 0 40px;
  position: relative;
}

.tab {
  background-color: #fff;
  border: 1px solid $subtle-color;
  border-bottom: 1px solid $accent-color-light;
  border-radius: 3px 3px 0 0;
  bottom: -1px;
  color: $text-color-light;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 5px;
  padding: ($baseline/2) $baseline;
  position: relative;
  transition: color .1s linear;
}

.tab:hover {
  color: $accent-color-light;
}

.tab--active {
  border-color: $accent-color-light;
  border-bottom: 1px solid #fff;
  color: $accent-color-light;
}

.tab-content {
  display: none;
}

.tab-content--visible {
  display: block;
}


// Answers

table.answers {
  margin: ($baseline) 0;
  width: 100%;
}

.answers tr:not(:last-child) {
  border-bottom: 1px solid $subtle-color;
}

.answers th {
  text-align: left;
}

.answers td,
.answers th {
  padding: ($baseline / 2) 0;
  position: relative;
}

.answers th.your-answer {
  text-align: center;
  width: 70px;
}

.answers th.question-description {
  width: 30%;
}

.answers .chosen {
  background: url('../img/icons/check.png') no-repeat center 14px;
}

.answers .not-chosen {
  background: url('../img/icons/cross.png') no-repeat center 14px;
}

.answers-graph {
  background-color: $subtle-color;
  border-radius: 20px;
  font-size: 10px;
  font-weight: bold;
  height: 20px;
  position: absolute;
  top: 8px;
  width: 100%;
}

.answers-graph-bar {
  background-color: $accent-color-light;
  border-radius: 20px;
  color: #fff;
  height: 100%;
  left: 0;
  line-height: 1;
  padding: 5px 10px 0 10px;
  position: absolute;
  text-align: right;
  top: 0;
}
