/* SASS variables */

$baseline: 12px;
$font-size: 14px;
$h1-size: 30px;
$h2-size: 16px;

$body-bg-color: #f4f4f4;
$btn-color: #787878;
$text-color: #222;
$text-color-light: #9b9b9b;
$accent-color-light: #1B8A8C;
$accent-color-dark: #DB5413;
$subtle-color: #d1d1d1;

$content-max-width: 900px;
$content-width: 85%;
$content-width-small: 100%;
