  <script src="js/vendor/jquery-1.11.2.min.js"></script>
  <script src="js/vendor/TweenMax.min.js"></script>
  <script src="js/vendor/snap.svg-min.js"></script>
  <script src="js/all.js"></script>
</body>
</html>
