@@include('../includes/header.html')
<div class="header-wrapper">
  <div class="header-wrapper__backdrop">
    <svg width="100%" height="100%" viewBox="0 0 400 200" preserveAspectRatio="none">
      <path fill="#ff0058" d="M0,200 L0,200 c0,0 100,0 200,0 c0,0 100,0 200,0 L400,200 L0,200 Z"/>
    </svg>
  </div>
  <header class="header">
    <a href="#" class="logo">
  	 <img src="img/logo.svg" alt="Simon Wuyts">
    </a>
    <nav class="navigation">
      <a href="#" class="navigation__item navigation__item--active">Home</a>
      <a href="#" class="navigation__item">Work</a>
      <a href="#" class="navigation__item">About</a>
      <a href="#" class="navigation__item">Blog</a>
    </nav>
  </header>
</div>
<div class="content-wrapper">
  <div class="content">
    <div class="hero hero--xl">
      <h1 class="hero__title in">Simon Wuyts</h1>
      <div class="hero__subtitle in">Multimedia Designer</div>
    </div>
    <div class="frontpage-items grid">
      <div class="col-4">
        <a href="#" class="frontpage-items__title">Work
          <svg class="inline-arrow">
	          <path d="M0 6h10L7.5 8.5l1.42 1.42L13.84 5 8.92.08 7.5 1.5 10 4H0v2z" fill="#00CBFF"/>
          </svg>
        </a>
        <a href="#" class="content-tile" style="background-image: url('img/shirt.jpg');">
          <div class="content-tile__backdrop" style="background-color: #06b4ac;"></div>
          <div class="content-tile__info">
            <h3 class="content-tile__title">Behind The Buttons</h3>
            <div class="content-tile__description">Website</div>
          </div>
        </a>
      </div>
      <div class="col-4">
        <a href="#" class="frontpage-items__title">Simon Who?
          <svg class="inline-arrow">
	          <path d="M0 6h10L7.5 8.5l1.42 1.42L13.84 5 8.92.08 7.5 1.5 10 4H0v2z" fill="#00CBFF"/>
          </svg>
        </a>
        <a href="#" class="content-tile" style="background-image: url('img/simon.jpg');">
          <div class="content-tile__backdrop"></div>
          <div class="content-tile__info">
            <h3 class="content-tile__title">More about me</h3>
            <div class="content-tile__description">Bio</div>
          </div>
        </a>
      </div>
      <div class="col-4">
        <a href="#" class="frontpage-items__title">Blog
          <svg class="inline-arrow">
	          <path d="M0 6h10L7.5 8.5l1.42 1.42L13.84 5 8.92.08 7.5 1.5 10 4H0v2z" fill="#00CBFF"/>
          </svg>
        </a>
        <a href="#" class="content-tile" style="background-image: url('img/blog.jpg');">
          <div class="content-tile__backdrop" style="background-color: #f56721;"></div>
          <div class="content-tile__info">
            <h3 class="content-tile__title">10 tips for an easier life</h3>
            <div class="content-tile__description">29 april 2015</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="contact-wrapper">
  <div class="contact">
  	<p class="uppercase">Vragen, opmerkingen of liefdesverklaringen?</p>
    <p>Ik kijk al uit naar je mailtje naar <a href="mailto:hi@simonwuyts.be">hi@simonwuyts.com</a><br></a>of je telefoontje naar <a href="tel:0032485071617">+32 (0)485 07 16 17</a>.</p>
  </div>
</div>
<div class="footer-wrapper">
  <footer class="footer">
  	<div class="copyright">
      Simon Wuyts &mdash; 2015
      <div class="social">Let's get social</div>
    </div>
  </footer>
</div>
@@include('../includes/footer.html')
