@@include('../includes/header.html')
<div class="header-wrapper" style="background-color: #852488;">
  <div class="header-wrapper__backdrop">
    <svg width="100%" height="100%" viewBox="0 0 400 200" preserveAspectRatio="none">
      <path fill="#ff0058" d="M0,200 L0,200 c0,0 100,0 200,0 c0,0 100,0 200,0 L400,200 L0,200 Z"/>
    </svg>
  </div>
  <header class="header">
    <a href="#" class="logo">
  	 <img src="img/logo.svg" alt="Simon Wuyts">
    </a>
    <nav class="navigation">
      <a href="#" class="navigation__item">Home</a>
      <a href="#" class="navigation__item navigation__item--active">Work</a>
      <a href="#" class="navigation__item">About</a>
      <a href="#" class="navigation__item">Blog</a>
    </nav>
  </header>
</div>
<div class="content-wrapper">
  <div class="content">
    <div class="hero">
      <h1 class="hero__title in">FSI</h1>
      <div class="hero__subtitle in">website</div>
    </div>
    <div class="grid">
      <div class="col-8">
        <div class="grid">
          <div class="col-12">
            <a href="#" class="content-tile content-tile--low">Full bleed</a>
          </div>
          <div class="col-6">
            <a href="#" class="content-tile">Half</a>
          </div>
          <div class="col-6">
            <a href="#" class="content-tile">Half</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <p>Voor <strong>The foundation of Social Improvement</strong> ontwikkelde een responsieve website met alles erop en eraan.</p>
        <a href="#" class="block-link">www.fsi.org</a>
      </div>
    </div>
  </div>
</div>
<div class="contact-wrapper">
  <div class="contact">
  	<p class="uppercase">Vragen, opmerkingen of liefdesverklaringen?</p>
    <p>Ik kijk al uit naar je mailtje naar <a href="mailto:hi@simonwuyts.be">hi@simonwuyts.com</a><br></a>of je telefoontje naar <a href="tel:0032485071617">+32 (0)485 07 16 17</a>.</p>
  </div>
</div>
<div class="footer-wrapper">
  <footer class="footer">
  	<div class="copyright">
      Simon Wuyts &mdash; 2015
      <div class="social">Let's get social</div>
    </div>
  </footer>
</div>
@@include('../includes/footer.html')
