@font-face {
  font-family: 'national-font';
  font-weight: 300;
  src: url('fonts/National-Light.woff') format('woff'),
       url('fonts/National-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'national-font';
  font-weight: 600;
  src: url('fonts/National-Semibold.woff') format('woff'),
       url('fonts/National-Semibold.ttf') format('truetype');
}
