// General CSS styling

body {
  color: $primary-color;
  font: 300 #{$text-size}/#{$baseline * 2} national-font, sans-serif;
}

h1 {
  font-family: ff-tisa-web-pro;
  font-weight: bold;
}

// Containers

.header-wrapper,
.content-wrapper,
.contact-wrapper,
.footer-wrapper {
  display: block;
  position: relative;
  width: 100%;
}

.header,
.content,
.contact,
.footer {
  display: block;
  margin: 0 auto;
  max-width: $content-max-width;
  position: relative;
  width: $content-width;
}

// Header

.header-wrapper {
  background-color: $primary-color;
  color: #fff;
  padding: (2 * $baseline) 0;
}

.header-wrapper__backdrop {
  //background: red;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.logo {
  display: inline-block;
  height: 30px;
}

.logo img {
  height: 100%;
}

// Navigation

.navigation {
  display: block;
  margin-top: -$baseline;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-font-smoothing: antialiased;
}

.navigation__item {
  @include uppercase-text;
  color: rgba(255, 255, 255, .5);
  display: inline-block;
  margin-right: 60px;
  transition: color .2s ease-out;
}

.navigation__item:last-child {
  margin-right: 0;
}

.navigation__item:hover,
.navigation__item--active {
  color: rgb(255, 255, 255)
}

// Content area

.content-wrapper {
  padding: 0 0 ($baseline * 4) 0;
}

// Hero

.hero {
  padding: ($baseline * 5) 0;
  text-align: center;
}

.hero--xl {
  padding: ($baseline * 8) 0;
}

.hero__title {
  font: bold #{$h1-size}/#{$baseline * 4} 'ff-tisa-web-pro';
  margin: 0;
  padding: 0;
}

.hero__title.in {
  animation: fadeDown .5s ease-out 1 both;
}

.hero__subtitle {
  @include uppercase-text;
  color: $primary-color-light;
  margin-top: $baseline;
  padding-top: $baseline;
  position: relative;
}

.hero__subtitle.in {
  animation: fadeUp .5s ease-out 1 both;
}

.hero__subtitle::before {
  background-color: $primary-color-extra-light;
  content: '';
  height: 1px;
  left: 50%;
  margin-left: -110px;
  position: absolute;
  top: 0;
  width: 220px;
}

.hero__subtitle.in::before {
  animation: expandHorizontal 1s ease-out .5s 1 both;
}

// Frontpage items

.frontpage-items__title {
  @include uppercase-text;
  color: $primary-color-light;
  display: block;
  margin-bottom: $baseline;
  transition: color .2s ease-out;
  &:hover {
    color: $primary-color;
    .inline-arrow path {
      fill: $accent-color;
    }
  }
}

.inline-arrow {
  display: inline-block;
  height: 10px;
  margin-left: 3px;
  transition: all .2s ease-out;
  width: 14px;
  path {
    fill: $primary-color-extra-light;
    transition: fill .2s ease-out;
  }
}

// Content tiles

.content-tile {
  background-color: $primary-color-ultra-light;
  background-size: cover;
  display: block;
  height: 0;
  overflow: hidden;
  padding-bottom: 100%;
  position: relative;
  width: 100%;
}

.content-tile--low {
  padding-bottom: 48%;
}

.content-tile__backdrop {
  background-color: $primary-color;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity .2s ease-out;
}

.content-tile__info {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  padding: $baseline;
  position: absolute;
  text-align: center;
  top: 0;
  transition: opacity .2s ease-out;
  -webkit-font-smoothing: antialiased;
  width: 100%;
}

.content-tile:hover .content-tile__backdrop {
  opacity: .9;
}

.content-tile:hover .content-tile__info {
  opacity: 1;
}

.content-tile__title {
  color: #fff;
  font-size: $h3-size;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.content-tile__description {
  @include uppercase-text;
  color: rgba(255, 255, 255, .5);
  margin-top: $baseline;
  padding-top: $baseline;
  position: relative;
}

.content-tile__description::before {
  background-color: rgba(255, 255, 255, .3);
  content: '';
  height: 1px;
  left: 25%;
  position: absolute;
  top: 0;
  width: 50%;
}

// Contact

.contact-wrapper {
  background-color: $primary-color-ultra-light;
  padding: ($baseline * 4) 0;
}

.contact {
  text-align: center;
}

// Footer

.footer-wrapper {
  padding: ($baseline * 2) 0;
}

.footer {
  @include uppercase-text;
  color: $primary-color-light;
}

.social {
  margin-top: -$baseline;
  position: absolute;
  right: 0;
  top: 50%;
}
