.grid {
	margin: -1.5%;
}

.grid::before,
.grid::after {
	content: '';
	display: table;
}

.grid::after {
	clear: both;
}

[class*=col-4] {
	float: left;
	margin: 1.5%;
	width: 30.33%
}

[class*=col-6] {
  float: left;
  margin: 1.5%;
  width: 47%
}

[class*=col-8] {
  float: left;
  margin: 1.5%;
  width: 63.66%
}

[class*=col-12] {
  float: left;
  margin: 1.5%;
  width: 97%
}
