.uppercase {
	@include uppercase-text;
}

p {
	margin: 0;
}

p + p {
	margin-top: $baseline;
}

a {
	color: $accent-color;
}

em {
	color: $accent-color;
	font-style: normal;
}

strong {
  font-weight: 600;
}

.block-link {
  @include uppercase-text;
  color: $primary-color-light;
  display: block;
  margin-top: $baseline;
  padding-top: $baseline;
  position: relative;
}

.block-link::before {
  background-color: $primary-color-extra-light;
  content: '';
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 150px;
}
