// SASS variables

// Color
$primary-color: #232c39;
$primary-color-light: rgba(35, 44, 57, .3);
$primary-color-extra-light: rgba(35, 44, 57, .2);
$primary-color-ultra-light: rgba(35, 44, 57, .05);
$accent-color: #00cbff;

// Dimensions
$content-width: 90%;
$content-max-width: 1000px;

// Text
$baseline: 15px;
$text-size: 20px;
$h1-size: 50px;
$h1-xl-size: 60px;
$h2-size: 25px;
$h3-size: 20px;
$subtitle-size: 16px;
$subtitle-xl-size: 24px;

// Mixins
@mixin uppercase-text {
	font-size: $subtitle-size;
	font-weight: 600;
	letter-spacing: 2px;
	text-transform: uppercase;
}
