/* SASS variables */
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden], template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b, strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

address {
  font-style: normal; }

@-webkit-keyframes pulse-error {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(231, 0, 0, 0.5);
    box-shadow: 0 0 0 0 rgba(231, 0, 0, 0.5); }

  70% {
    -webkit-box-shadow: 0 0 0 20px rgba(231, 0, 0, 0);
    box-shadow: 0 0 0 20px rgba(231, 0, 0, 0); }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(231, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(231, 0, 0, 0); } }

@keyframes pulse-error {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(231, 0, 0, 0.5);
    box-shadow: 0 0 0 0 rgba(231, 0, 0, 0.5); }

  70% {
    -webkit-box-shadow: 0 0 0 20px rgba(231, 0, 0, 0);
    box-shadow: 0 0 0 20px rgba(231, 0, 0, 0); }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(231, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(231, 0, 0, 0); } }

@-webkit-keyframes pulse-warning {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 186, 0, 0.5);
    box-shadow: 0 0 0 0 rgba(255, 186, 0, 0.5); }

  70% {
    -webkit-box-shadow: 0 0 0 20px rgba(255, 186, 0, 0);
    box-shadow: 0 0 0 20px rgba(255, 186, 0, 0); }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 186, 0, 0);
    box-shadow: 0 0 0 0 rgba(255, 186, 0, 0); } }

@keyframes pulse-warning {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 186, 0, 0.5);
    box-shadow: 0 0 0 0 rgba(255, 186, 0, 0.5); }

  70% {
    -webkit-box-shadow: 0 0 0 20px rgba(255, 186, 0, 0);
    box-shadow: 0 0 0 20px rgba(255, 186, 0, 0); }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 186, 0, 0);
    box-shadow: 0 0 0 0 rgba(255, 186, 0, 0); } }

@-webkit-keyframes pulse-success {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(28, 195, 0, 0.5);
    box-shadow: 0 0 0 0 rgba(28, 195, 0, 0.5); }

  70% {
    -webkit-box-shadow: 0 0 0 20px rgba(28, 195, 0, 0);
    box-shadow: 0 0 0 20px rgba(28, 195, 0, 0); }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(28, 195, 0, 0);
    box-shadow: 0 0 0 0 rgba(28, 195, 0, 0); } }

@keyframes pulse-success {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(28, 195, 0, 0.5);
    box-shadow: 0 0 0 0 rgba(28, 195, 0, 0.5); }

  70% {
    -webkit-box-shadow: 0 0 0 20px rgba(28, 195, 0, 0);
    box-shadow: 0 0 0 20px rgba(28, 195, 0, 0); }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(28, 195, 0, 0);
    box-shadow: 0 0 0 0 rgba(28, 195, 0, 0); } }

/* General CSS styling */
body {
  background-color: #F0F0F0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #1A1919;
  display: block;
  font-family: 'proxima-nova', 'Helvetica', sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 24px;
  overflow-x: hidden; }

.lock-scroll {
  overflow: hidden; }

body * {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

.container {
  background-color: #fff;
  margin: 0 auto;
  max-width: 1200px; }

.header, .hero, .content, .footer {
  position: relative; }

.hidden {
  display: none !important; }

.header {
  margin: 0 auto;
  max-width: 1000px;
  padding: 30px 0;
  width: 90%; }

.logo {
  display: inline-block;
  height: 48px; }

.logo img {
  display: block;
  height: 100%;
  max-width: 100%; }

.detail-nav {
  position: absolute;
  right: 224px;
  top: 48px; }

.detail-nav [class*='icon-'] {
  display: inline-block;
  height: 16px;
  margin-left: 10px;
  width: 16px; }

.detail-nav [class*='icon-'] svg {
  height: 100%;
  width: 100%; }

.detail-nav [class*='icon-'] svg path {
  fill: #CDCDCD; }

.detail-nav [class*='icon-']:hover svg path {
  fill: #00678C; }

.detail-nav [class*='icon-'].active svg path {
  fill: #00A3DA; }

.detail-nav-text {
  color: #AAA;
  display: inline-block;
  font-size: 11px;
  height: 18px;
  line-height: 1;
  margin-left: 10px;
  text-transform: uppercase;
  -webkit-transition: color 0.1s linear;
  transition: color 0.1s linear;
  vertical-align: middle; }

.detail-nav-text:hover, .detail-nav-text.active {
  color: #00678C; }

.search-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  top: 40px;
  width: 200px; }

.ie9 .search-form {
  display: block; }

input[type='text'].search-input {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
  -ms-flex: 1 1 0;
  flex: 1 1 0;
  font-size: 12px;
  height: 32px;
  padding: 3px 12px;
  width: auto; }

.ie9 input[type='text'].search-input {
  width: 100%; }

input[type='submit'].search-submit {
  background-color: transparent;
  background: transparent url('../img/icons/search.svg') no-repeat center center;
  -webkit-background-size: 16px 16px;
  background-size: 16px 16px;
  font-size: 12px;
  height: 32px;
  margin: 0;
  padding: 3px 12px;
  text-indent: -9999px;
  width: 32px; }

.ie9 input[type='submit'].search-submit {
  position: absolute;
  right: -30px;
  top: 0; }

.no-svg input[type='submit'].search-submit {
  background: transparent url('../img/fallback/icons/search.png') no-repeat center center; }

input[type='submit'].search-submit:hover {
  background: transparent url('../img/icons/search-hover.svg') no-repeat center center;
  -webkit-background-size: 16px 16px;
  background-size: 16px 16px; }

.no-svg input[type='submit'].search-submit:hover {
  background: transparent url('../img/fallback/icons/search-hover.png') no-repeat center center; }

.hero-container {
  background-image: url('../img/viaduct.jpg');
  background-position: center bottom;
  -webkit-background-size: cover;
  background-size: cover;
  height: 216px;
  position: relative; }

.hero-container:before {
  background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(0, 103, 140, 0.9)), to(rgba(0, 160, 176, 0.9)));
  background-image: -webkit-linear-gradient(left bottom, rgba(0, 103, 140, 0.9), rgba(0, 160, 176, 0.9));
  background-image: linear-gradient(to right top, rgba(0, 103, 140, 0.9), rgba(0, 160, 176, 0.9));
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0; }

.no-cssgradients .hero-container:before {
  background-color: rgba(0, 103, 140, 0.9); }

.hero-container.infrastructuur {
  background-image: url('../img/chip.jpg'); }

.hero-container.it-beheer {
  background-image: url('../img/itbeheer.jpg'); }

.hero-container.software {
  background-image: url('../img/software.jpg'); }

.hero {
  height: 100%;
  margin: 0 auto;
  max-width: 1000px;
  width: 90%; }

.primary-nav {
  bottom: 12px;
  left: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute; }

.primary-nav-item {
  float: left; }

.primary-nav-item > a {
  color: rgba(255, 255, 255, 0.55);
  display: block;
  font-weight: 600;
  line-height: 1;
  padding: 18px 24px;
  position: relative;
  text-transform: uppercase;
  z-index: 5; }

.no-rgba .primary-nav-item > a {
  color: #fff;
  opacity: 0.55; }

.has-submenu > a:after {
  background: url('../img/icons/menu-dropdown.svg') no-repeat;
  content: '';
  display: inline-block;
  height: 5px;
  margin-left: 5px;
  position: relative;
  top: -2px;
  width: 8px; }

.has-submenu.active > a:after {
  background: url('../img/icons/menu-dropdown-active.svg') no-repeat; }

.has-submenu:hover > a:after {
  background: url('../img/icons/menu-dropdown-hover.svg') no-repeat; }

.no-svg .has-submenu > a:after {
  background: url('../img/fallback/icons/menu-dropdown.png') no-repeat; }

.no-svg .has-submenu.active > a:after {
  background: url('../img/fallback/icons/menu-dropdown-active.png') no-repeat; }

.no-svg .has-submenu:hover > a:after {
  background: url('../img/fallback/icons/menu-dropdown-hover.png') no-repeat; }

.primary-nav-item.active > a, .primary-nav-item > a:hover {
  opacity: 1; }

.primary-nav-item.has-submenu:hover > a {
  background-color: #fff;
  border-radius: 3px 3px 0 0;
  color: #00678C; }

.submenu-container {
  background-color: #fff;
  border-bottom: 2px solid #00678C;
  border-radius: 0 3px 0 0;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  display: none;
  padding: 24px 24px 12px 24px;
  position: absolute;
  z-index: 4; }

.submenu-container.double {
  min-width: 572px; }

.primary-nav-item.has-submenu:hover .submenu-container {
  display: inline-block; }

.submenu {
  list-style-type: none;
  margin: 0;
  min-width: 250px;
  padding: 0; }

.double .submenu {
  display: block;
  float: left; }

.double .submenu:last-child {
  margin-left: 24px; }

.submenu-title {
  color: #CDCDCD;
  display: block;
  margin-bottom: 6px;
  text-transform: uppercase; }

.submenu-item:not(:last-child) {
  border-bottom: 1px solid #EBEBEB; }

.submenu-item a {
  color: #1A1919;
  display: block;
  padding: 6px 0;
  -webkit-transition: color 0.1s linear;
  transition: color 0.1s linear; }

.submenu-item a:hover, .submenu-item a.active {
  color: #00A3DA; }

.content {
  margin: 0 auto;
  max-width: 1000px;
  width: 90%; }

.content:before, .content:after {
  content: " ";
  display: table; }

.content:after {
  clear: both; }

.main {
  float: left;
  margin-right: 3%;
  width: 67%; }

.content img {
  max-width: 100%; }

.row {
  display: block; }

.content-grid {
  display: block;
  margin: 36px 0; }

.content-grid-2, .content-grid-3 {
  display: block;
  margin: 36px -1.5%; }

.content-grid-2:before, .content-grid-3:before, .content-grid-2:after, .content-grid-3:after {
  content: " ";
  display: table; }

.content-grid-2:after, .content-grid-3:after {
  clear: both; }

.content-grid-2 > * {
  display: block;
  float: left;
  margin: 0 1.5% 24px 1.5%;
  width: 47%; }

.content-grid-3 > * {
  display: block;
  float: left;
  margin: 0 1.5% 24px 1.5%;
  width: 30.33%; }

.content-grid-3 > *:last-child {
  margin-right: 0; }

.content .division {
  background-color: #00678C;
  border: none;
  border-radius: 3px;
  color: #fff;
  display: block;
  padding: 24px;
  text-align: center; }

.division:hover {
  background-color: #00A3DA; }

.division [class*='icon-'] {
  background: url('../img/icons/infrastructuur-blue.png') no-repeat center center;
  -webkit-background-size: contain;
  background-size: contain;
  display: inline-block;
  height: 45px;
  margin-bottom: 12px;
  opacity: 0.3;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  width: 45px; }

.division:hover [class*='icon-'] {
  opacity: 1; }

.division .icon-infrastructuur {
  background-image: url('../img/icons/infrastructuur-white.png'); }

.division .icon-it-beheer {
  background-image: url('../img/icons/it-beheer-white.png'); }

.division .icon-software {
  background-image: url('../img/icons/software-white.png'); }

.division-title {
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 12px 0;
  padding: 0; }

.related-items-title {
  overflow: hidden;
  white-space: nowrap; }

.related-items-title:after {
  background-color: #EBEBEB;
  bottom: 3px;
  content: '';
  display: inline-block;
  height: 1px;
  margin-left: 24px;
  position: relative;
  width: 1000px; }

.content .related-item {
  border: none;
  color: #fff;
  display: block;
  position: relative;
  z-index: 1; }

.related-item-image-wrapper {
  background-color: #00678C;
  border-radius: 3px;
  display: block;
  height: 156px;
  overflow: hidden;
  position: relative;
  z-index: 1; }

.related-item-image-wrapper:before, .related-item-image-wrapper:after {
  background-color: black;
  content: '';
  height: 100%;
  left: 0;
  opacity: 0.4;
  position: absolute;
  top: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  width: 100%;
  z-index: 1; }

.related-item-image-wrapper:after {
  background-color: #00a3da;
  background-image: none;
  opacity: 0;
  z-index: 1; }

.related-item:hover .related-item-image-wrapper:after {
  opacity: 0.7; }

.related-item-image {
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
  position: absolute;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  width: 100%; }

.related-item:hover .related-item-image {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); }

.related-item-title {
  bottom: 0;
  font-size: 20px;
  font-weight: 600;
  padding: 12px;
  position: absolute;
  z-index: 2; }

.related-items--extended .related-item {
  background-color: transparent;
  border-radius: 0;
  color: #000;
  height: auto;
  margin: 0 0 24px 0;
  overflow: visible; }

.related-items--extended .related-item:before, .related-items--extended .related-item:after {
  content: " ";
  display: table; }

.related-items--extended .related-item:after {
  clear: both; }

.related-items--extended .related-item-image-wrapper {
  float: left;
  height: 120px;
  margin-right: 3%;
  position: relative;
  width: 30.33%; }

.related-items--extended .related-item-image-wrapper:before, .related-items--extended .related-item-image-wrapper:after {
  display: none; }

.related-items--extended .related-item-description {
  display: block;
  float: left;
  width: 66.66%; }

.related-items--extended .related-item-title {
  color: #00678C;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out; }

.related-items--extended .related-item:hover .related-item-title {
  color: #00A3DA; }

.related-items--extended .related-item-description p:last-child {
  margin-bottom: 0; }

.related-items--extended .related-item-title {
  margin-bottom: 12px;
  padding: 0;
  position: static; }

.status-overview {
  margin: 0 -1.5% 24px -1.5%; }

.status-overview:before, .status-overview:after {
  content: " ";
  display: table; }

.status-overview:after {
  clear: both; }

.status-overview > * {
  display: block;
  float: left;
  margin: 0 1.5% 24px 1.5%;
  width: 13.66%; }

.status {
  border: 1px solid #00678C;
  border-bottom: 3px solid #00678C;
  border-radius: 3px;
  display: block;
  min-height: 110px;
  padding: 12px;
  text-align: center; }

.status.success {
  border-color: #1CC300; }

.status.warning {
  border-color: #FFBA00; }

.status.error {
  border-color: #E70000; }

.status [class*='icon-'] {
  background: url('../img/icons/infrastructuur-black.png') no-repeat center center;
  -webkit-background-size: contain;
  background-size: contain;
  display: inline-block;
  height: 30px;
  opacity: 0.3;
  width: 30px; }

.status .icon-infrastructuur {
  background-image: url('../img/icons/infrastructuur-black.png'); }

.status .icon-it-beheer {
  background-image: url('../img/icons/it-beheer-black.png'); }

.status .icon-voip {
  background-image: url('../img/icons/voip-black.png'); }

.status .icon-mail {
  background-image: url('../img/icons/mail-black.png'); }

.status .icon-software {
  background-image: url('../img/icons/software-black.png'); }

.status .icon-internet {
  background-image: url('../img/icons/internet-black.png'); }

.status-title {
  margin: 0; }

.message {
  border: 1px solid #EBEBEB;
  border-radius: 3px; }

.message + .message {
  margin-top: 24px; }

.message:last-of-type {
  margin-bottom: 24px; }

.message-header {
  padding: 12px 18px; }

.message-title {
  font-size: 18px;
  margin: 0; }

.error .message-title {
  color: #ce0000; }

.warning .message-title {
  color: #e6a400; }

.success .message-title {
  color: #19aa00; }

.message-datetime {
  color: #A3A3A3;
  text-transform: uppercase; }

.message-time {
  margin-left: 5px; }

.message-time:before {
  content: '\2022';
  margin-right: 5px;
  opacity: 0.5; }

.message-icon {
  background-color: transparent;
  border-radius: 50%;
  display: block;
  float: right;
  height: 12px;
  position: relative;
  top: 6px;
  width: 12px; }

.error .message-icon {
  background: #E70000; }

.warning .message-icon {
  background: #FFBA00; }

.success .message-icon {
  background: #1CC300; }

.error .message-icon.active {
  -webkit-animation: pulse-error 2s ease-in-out infinite;
  animation: pulse-error 2s ease-in-out infinite; }

.warning .message-icon.active {
  -webkit-animation: pulse-warning 2s ease-in-out infinite;
  animation: pulse-warning 2s ease-in-out infinite; }

.success .message-icon.active {
  -webkit-animation: pulse-success 2s ease-in-out infinite;
  animation: pulse-success 2s ease-in-out infinite; }

.message-content {
  border-top: 1px solid #EBEBEB;
  padding: 12px 18px; }

.message-content p:last-child {
  margin: 0; }

.testimonials {
  margin-bottom: 24px; }

.testimonial {
  background-color: #00678C;
  border-radius: 3px;
  color: #fff;
  display: block;
  padding: 24px;
  width: 100%; }

.testimonial-photo {
  border: 2px solid #fff;
  border-radius: 50%;
  display: block;
  float: right;
  height: 60px;
  margin: 0 0 18px 24px;
  width: 60px; }

.testimonial-quote {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  padding: 0; }

.testimonial-name {
  margin-top: 36px;
  opacity: 0.7;
  position: relative; }

.testimonial-name:before {
  background-color: rgba(255, 255, 255, 0.3);
  content: '';
  height: 1px;
  position: absolute;
  top: -12px;
  width: 60px; }

.cycle-pager {
  display: block;
  margin: -12px 0 24px 0;
  text-align: center; }

.cycle-pager span {
  color: #DDD;
  cursor: pointer;
  display: inline-block;
  font-size: 26px; }

.cycle-pager .cycle-pager-active {
  color: #00A3DA; }

.content .search-result {
  border: none;
  display: block;
  margin-bottom: 12px;
  padding-bottom: 12px; }

.content .search-result:hover {
  border-bottom-color: #EBEBEB; }

.search-result:not(:last-of-type) {
  border-bottom: 1px solid #EBEBEB; }

.search-result-title {
  font-size: 16px;
  font-weight: 600;
  -webkit-transition: color 0.1s linear;
  transition: color 0.1s linear; }

.search-result:hover .search-result-title {
  color: #00A3DA; }

.google-maps {
  height: 360px; }

.sidebar {
  float: right;
  padding: 36px 0;
  width: 30%; }

.sidebar-widget {
  border: 1px solid #EBEBEB;
  border-radius: 3px;
  margin-bottom: 24px;
  padding: 24px; }

.sidebar-widget-title {
  font-size: 16px;
  margin: 0 0 12px 0; }

.content .sidebar-menu {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.sidebar-menu-item:not(:last-child) {
  border-bottom: 1px solid #EBEBEB; }

.content .sidebar-menu-item a {
  border: none;
  color: #1A1919;
  display: block;
  padding: 6px 0;
  -webkit-transition: color 0.1s linear;
  transition: color 0.1s linear; }

.sidebar-menu-item a:hover, .sidebar-menu-item a.active {
  color: #00A3DA; }

.contact-photo {
  border-radius: 50%;
  display: block;
  float: left;
  height: 48px;
  margin-right: 12px;
  width: 48px; }

.contact-name {
  font-size: 20px;
  font-weight: 600; }

.sidebar .contact-info {
  margin: 12px 0; }

.contact-info .telephone {
  background: url('../img/icons/phone.svg') no-repeat left 4px;
  -webkit-background-size: 16px 16px;
  background-size: 16px 16px;
  padding-left: 26px; }

.contact-info .email {
  background: url('../img/icons/email.svg') no-repeat left 4px;
  -webkit-background-size: 16px 16px;
  background-size: 16px 16px;
  padding-left: 26px; }

.quick-contact {
  background-color: #00678C;
  border-radius: 0 0 3px 3px;
  color: #fff;
  display: block;
  margin: 24px -25px -25px -25px;
  padding: 24px; }

.quick-contact-slideout {
  display: none; }

.mail-wrapper {
  display: none; }

.content .sidebar-widget-cta {
  border: none;
  color: #fff;
  display: block;
  font-weight: 600;
  margin: -24px;
  padding: 12px 24px;
  text-transform: uppercase; }

.footer-container {
  background-color: #00678C;
  color: #fff; }

.footer {
  display: block;
  margin: 48px auto 0;
  max-width: 1000px;
  padding: 36px 0;
  width: 90%;
  *zoom: 1; }

.footer:before, .footer:after {
  content: " ";
  display: table; }

.footer:after {
  clear: both; }

.footer-primary {
  display: block;
  float: left;
  width: 50%; }

.footer-secundary {
  display: block;
  float: left;
  text-align: right;
  width: 50%; }

.footer address:not(:last-child) {
  margin-bottom: 12px; }

.footer a {
  color: #fff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear; }

.footer .telephone, .footer .email {
  display: block; }

.footer .social {
  margin-top: 48px; }

.footer .social a {
  opacity: 0.6; }

.footer .social a:hover {
  opacity: 1; }

.footer a.facebook {
  background: url('../img/icons/facebook.svg') no-repeat center center;
  -webkit-background-size: 100%;
  background-size: 100%;
  display: inline-block;
  height: 20px;
  width: 20px; }

.no-svg a.facebook {
  background: url('../img/fallback/icons/facebook.png') no-repeat center center; }

.footer a.linkedin {
  background: url('../img/icons/linkedin.svg') no-repeat center center;
  -webkit-background-size: 100%;
  background-size: 100%;
  display: inline-block;
  height: 20px;
  width: 20px; }

.no-svg a.linkedin {
  background: url('../img/fallback/icons/linkedin.png') no-repeat center center; }

h1 {
  color: #1A1919;
  font-size: 34px;
  font-weight: 600;
  line-height: 48px;
  margin: 48px 0 24px; }

h2 {
  color: #00678C;
  font-size: 26px;
  font-weight: 600;
  line-height: 24px;
  margin: 36px 0 24px; }

h3 {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  margin: 36px 0 24px;
  text-transform: uppercase; }

h4 {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  margin: 36px 0 24px; }

.highlight {
  color: #00A3DA;
  font-weight: 700; }

p {
  margin: 0; }

p + p {
  margin-top: 24px; }

p:last-child {
  margin-bottom: 24px; }

a {
  outline: none;
  text-decoration: none; }

.content a {
  border-bottom: 1px solid #CCEDF8;
  color: #00678C;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear; }

.content a:hover {
  border-color: #00678C; }

.content ul, .content ol {
  margin: 24px 0; }

.content a.btn, input[type='submit'] {
  background-color: #00678C;
  border: none;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-weight: 600;
  line-height: 24px;
  padding: 6px 12px;
  text-transform: uppercase; }

.content a.btn:hover, input[type='submit']:hover {
  background-color: #00A3DA; }

.footer a.btn {
  background-color: #007da7;
  border: none;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-weight: 600;
  line-height: 24px;
  padding: 6px 12px;
  text-transform: uppercase; }

.footer a.btn:hover {
  background-color: #00A3DA; }

.footer p + p {
  margin: 12px 0 0 0; }

.footer a.btn.mac, .footer a.btn.windows {
  background-position: 12px 8px;
  background-repeat: no-repeat;
  -webkit-background-size: 16px 16px;
  background-size: 16px 16px;
  padding-left: 33px; }

.footer a.btn.windows {
  background-image: url('../img/icons/microsoft.svg'); }

.footer a.btn.mac {
  background-image: url('../img/icons/apple.svg'); }

.no-svg .footer a.btn.windows {
  background-image: url('../img/fallback/icons/microsoft.png'); }
.no-svg .footer a.btn.mac {
  background-image: url('../img/fallback/icons/apple.png'); }

/* Form elements */
.content form {
  display: block;
  margin: 36px 0; }

label {
  color: #ADADAD; }

.input-field.success label {
  color: #1CC300; }

.input-field.warning label {
  color: #FFBA00; }

.input-field.error label {
  color: #E70000; }

.input-field .label-message {
  display: block;
  font-size: 11px;
  line-height: 1;
  margin-bottom: 6px;
  text-transform: uppercase; }

.input-field {
  display: block;
  margin-bottom: 12px; }

.input-field:last-child {
  margin-bottom: 0; }

input[type='text'], input[type='tel'], input[type='email'], textarea {
  background-color: #fff;
  border: 1px solid #CDCDCD;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #1A1919;
  display: block;
  font-family: 'proxima-nova', 'Helvetica', sans-serif;
  font-size: 14px;
  line-height: 24px;
  outline: none;
  padding: 6px 12px;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  width: 300px; }

input[type='text']:focus, input[type='tel']:focus, input[type='email']:focus, textarea:focus {
  border: 1px solid #00A3DA;
  -webkit-box-shadow: 0 0 0 2px rgba(0, 163, 218, 0.2);
  box-shadow: 0 0 0 2px rgba(0, 163, 218, 0.2); }

input[type=radio] {
  margin-right: 10px; }

input[type='submit'] {
  cursor: pointer;
  margin-top: 12px; }

.success input {
  border: 1px solid #1CC300 !important; }

.warning input {
  border: 1px solid #FFBA00 !important; }

.error input {
  border: 1px solid #E70000 !important; }

select {
  color: #1A1919; }

.quick-contact form {
  margin: 0; }

.quick-contact .error-message {
  background-color: #fff;
  border-radius: 3px;
  color: #E70000;
  margin-bottom: 12px;
  padding: 6px 12px; }

.quick-contact input[type=text], .quick-contact input[type=tel], .quick-contact input[type=email], .quick-contact textarea, .quick-contact select {
  display: block;
  padding: 6px 12px;
  width: 100%; }

.quick-contact input[type=text], .quick-contact input[type=tel], .quick-contact input[type=email], .quick-contact textarea {
  border: 1px solid #fff; }

.quick-contact label {
  color: #fff; }

.quick-contact textarea {
  resize: vertical; }

.quick-contact select {
  margin-top: 12px; }

.quick-contact input[type='submit'] {
  background-color: #00A3DA;
  line-height: 24px; }

.touchmenu-trigger {
  color: #fff;
  display: none;
  font-weight: 600;
  line-height: 1;
  padding: 18px 24px;
  text-transform: uppercase; }

.icon-menu {
  background: url('../img/icons/menu.svg') no-repeat center center;
  -webkit-background-size: contain;
  background-size: contain;
  display: inline-block;
  height: 16px;
  margin-right: 12px;
  position: relative;
  top: 4px;
  width: 16px; }

.touchmenu {
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  height: 100%;
  left: 0;
  max-width: 300px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  -webkit-transform: translateX(-110%);
  -ms-transform: translateX(-110%);
  transform: translateX(-110%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  width: 100%;
  z-index: 7; }

.touchmenu.open {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0); }

.touchmenu-cover {
  background-color: #00678C;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  width: 100%;
  z-index: 6; }

.ie10 .touchmenu-cover {
  display: none; }

.touchmenu-cover.open {
  opacity: 0.9;
  pointer-events: auto; }

.touchmenu-close {
  background: #00A3DA url('../img/icons/close.svg') no-repeat center center;
  -webkit-background-size: 16px 16px;
  background-size: 16px 16px;
  display: block;
  height: 48px;
  position: absolute;
  right: 0;
  top: 0;
  width: 48px; }

.touchmenu-title {
  background-color: #00678C;
  color: #fff;
  display: block;
  font-weight: 700;
  margin-bottom: 12px;
  padding: 12px;
  text-transform: uppercase; }

.touchmenu-subtitle {
  color: #CDCDCD;
  display: block;
  font-weight: 700;
  padding: 12px;
  text-transform: uppercase; }

.touchmenu-list {
  list-style-type: none;
  margin: 0 0 24px 0;
  padding: 0; }

.touchmenu-list + .touchmenu-list {
  margin-top: -24px; }

.touchmenu-item a {
  color: #1A1919;
  display: block;
  padding: 12px; }

.touchmenu-item:not(:last-child) {
  border-bottom: 1px solid #EBEBEB; }

@media only screen and (max-width: 1100px) {
  .touch .touchmenu-trigger {
    display: inline-block; }
  .touch .primary-nav {
    display: none; }
  .touch .hero-container {
    height: 60px; } }

@media only screen and (max-width: 1024px) {
  .submenu-container.double {
    right: -150px; } }

@media only screen and (max-width: 900px) {
  .main {
    float: none;
    margin: 0;
    width: 100%; }
  .sidebar {
    float: none;
    padding: 0;
    width: 100%; }
  .teamviewer {
    display: none; }
  .footer-primary, .footer-secundary {
    float: none;
    text-align: left;
    width: 100%; }
  .footer .social {
    margin-top: 24px; } }

@media only screen and (max-width: 850px) {
  .detail-nav-text {
    display: none; } }

@media only screen and (max-width: 700px) {
  .content-grid-3 > * {
    display: block;
    float: left;
    margin: 0 1.5% 24px 1.5%;
    width: 47%; }
  .content .division {
    text-align: left;
    width: 97%; }
  .division [class*='icon-'] {
    display: block;
    float: left;
    margin-bottom: 0;
    margin-right: 24px; }
  .division-title {
    margin: 0;
    padding: 0; }
  .testimonial {
    width: 97%; }
  .touchmenu-trigger {
    display: inline-block; }
  .status {
    min-height: 0;
    width: 30.33%; }
  .primary-nav {
    display: none; }
  .hero-container {
    height: 60px; } }

@media only screen and (max-width: 650px) {
  .detail-nav, .search-form {
    display: none; } }

@media only screen and (max-width: 530px) {
  .status {
    min-height: 0;
    width: 47%; } }

@media only screen and (max-width: 500px) {
  .content {
    width: 90%; }
  .footer {
    width: 90%; }
  .footer-primary, .footer-secundary {
    padding: 0 24px; }
  .content h1 {
    margin: 24px 0 24px; } }
