@@include('../includes/header.html')
<div class="container">
  <header class="header">
    <img src="img/logo.png" alt="Burgerkabinet" class="logo">
  </header>
  <div class="inner-container">
    <div class="grid-row">
      <div class="col-1-2">
        <h1>Je hebt het laatste jaar&hellip;</h1>
        <ul class="intro">
          <li>minstens <strong class="big">20</strong> verschillende vormen van cultuur beleefd</li>
          <li>zelf minstens <strong class="big">5</strong> vormen van cultuur gecreëerd</li>
        </ul>
        <p>Je beleeft en creëert meer cultuur dan je denkt.</p><p>Tijdens het burgerkabinet gaan burgers online en op een event nadenken hoe we meer mensen meer bij cultuur kunnen betrekken.</p>
        <p>Bekijk hiernaast of je meer of minder dan het gemiddeld van de deelnemers cultuur maakt of beleeft en ontdekhieronder hoeveel de andere deelnemers van jou verschillen..</p>
        <p><a href="#details">Bekijk je resultaten meer in detail</a></p>
        <div class="buttons">
          <a href="#" class="btn twitter">Delen</a>
          <a href="#" class="btn facebook">Delen</a>
          <a href="#advies" class="btn">Meer weten?</a>
        </div>
      </div>
      <div class="col-1-2 graph">
        <h2 class="graph-title">Jouw positie <div class="info"><div class="info-icon"></div><div class="info-content">
          Het assenkruis geeft op de horizontale as weer hoeveel de deelnemers cultuur beleven en op de verticale as hoeveel de deelnemers cultuur creëren. De gegevens zijn echter relatief gemaakt. Het midden van de as is het gemiddelde van alle deelnemers. Als jij dus meer cultuur beleeft dan de gemiddelde deelnemer, dan sta je rechts op het assenkruis. Als je minder cultuur beleeft dan de gemiddelde deelnemer, dan sta je links op het assenkruis. Creëer je meer cultuur dan het gemiddelde dan sta je bovenaan op het assenkruis, creëer je er minder dan sta je onderaan. Om je te kunnen vergelijken met andere gebruikers wordt een willekeurige selectie van XXX deelnemers als punten weergegeven op het assenkruis.
        </div></div></h2>
        <div class="graph-image" id="chartdiv">
        </div>
        <div class="legend center">
          <div class="legend-item">
            <div class="legend-item-symbol" style="color: #DB5413; background-color: #DB5413;"></div>
            <div class="legend-item-description">Mijn positie</div>
          </div>
          <div class="legend-item">
            <div class="legend-item-symbol" style="color: #bbbbbb; background-color: #bbbbbb;"></div>
            <div class="legend-item-description">Alle</div>
          </div>
        </div>
      </div>
    </div>
    <h2>Vergelijk jezelf met
      <div class="options">
        <select>
          <option disabled selected>Kies een groep</option>
          <optgroup label="Geslacht">
            <option>Man</option>
            <option>Vrouw</option>
          </optgroup>
          <optgroup label="Leeftijd">
            <option>15-25</option>
            <option>25-35</option>
            <option>35-50</option>
          </optgroup>
        </select>
      </div>
    </h2>
    <div class="tabs">
      <span data-target="beleeft" class="tab tab--active">Jij beleeft</span>
      <span data-target="creeert" class="tab">Jij cre&euml;ert</span>
    </div>
    <div class="tab-content tab-content--visible" data-content="beleeft">
      <h1><a name="details"></a>Jij beleeft</h1>
      <table class="answers">
        <tr>
          <th class="question-description"></th>
          <th class="your-answer">Jij zelf</th>
          <th>Alle deelnemers</th>
        </tr>
        <tr>
          <td title="Dit is de langere versie van het antwoord.">Circus lang omschrijving die langer is dan een regel en dus een hogere rij veroorzaakt</td>
          <td class="not-chosen"></td>
          <td>
            <div class="answers-graph">
              <div class="answers-graph-bar" style="width: 35%">35%</div>
            </div>
          </td>
        </tr>
        <tr>
          <td title="Dit is de langere versie van het antwoord.">Opera</td>
          <td class="chosen"></td>
          <td>
            <div class="answers-graph">
              <div class="answers-graph-bar" style="width: 15%">15%</div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Theater</td>
          <td class="not-chosen"></td>
          <td>
            <div class="answers-graph">
              <div class="answers-graph-bar" style="width: 56%">56%</div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Film</td>
          <td class="chosen"></td>
          <td>
            <div class="answers-graph">
              <div class="answers-graph-bar" style="width: 80%">80%</div>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div class="tab-content" data-content="creeert">
      <h1>Jij cre&euml;ert</h1>
      <table class="answers">
        <tr>
          <th></th>
          <th class="your-answer">Jij zelf</th>
          <th>Alle deelnemers</th>
        </tr>
        <tr>
          <td>Circus</td>
          <td class="not-chosen"></td>
          <td>
            <div class="answers-graph">
              <div class="answers-graph-bar" style="width: 35%">35%</div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Opera</td>
          <td class="chosen"></td>
          <td>
            <div class="answers-graph">
              <div class="answers-graph-bar" style="width: 15%">15%</div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Theater</td>
          <td class="not-chosen"></td>
          <td>
            <div class="answers-graph">
              <div class="answers-graph-bar" style="width: 56%">56%</div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Film</td>
          <td class="chosen"></td>
          <td>
            <div class="answers-graph">
              <div class="answers-graph-bar" style="width: 80%">80%</div>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div class="logos footer">
      <img src="img/logo-vlaanderen.png" class="logo-vlaanderen"/>
      <div class="right">
        <img src="img/logo-tree.png" class="logo-tree"/>
        <img src="img/logo-levuur.png" class="logo-levuur"/>
        <img src="img/logo-iv.png" class="logo-iv"/>
      </div>
    </div>
  </div>
</div>
@@include('../includes/footer.html')
