@@include('../includes/header-overload.html')
<div class="container">
  <header class="header">
    <img src="img/logo.png" alt="Burgerkabinet" class="logo">
  </header>
  <div class="inner-container">
    <h1>Er ging iets fout</h1>
    <p>Er zijn op dit ogenblik te veel gelijktijdige gebruikers op onze website om de resultatenpagina te kunnen weergeven. U krijgt een mail met een link naar uw resultaten. Op een rustiger moment kan u dan via deze link uw resultaat raadplegen.</p>
    <div class="logos footer">
      <img src="img/logo-vlaanderen.png" class="logo-vlaanderen"/>
      <div class="right">
        <img src="img/logo-tree.png" class="logo-tree"/>
        <img src="img/logo-levuur.png" class="logo-levuur"/>
        <img src="img/logo-iv.png" class="logo-iv"/>
      </div>
    </div>
  </div>
</div>
@@include('../includes/footer-overload.html')
